<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="date" id="checkin" onchange="changeCheckoutDate(this)" class="form-control datetimepicker-input"
                                    placeholder="Check in"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="date" id="checkout" class="form-control datetimepicker-input" placeholder="Check out"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select">
                                <option value="">Category</option>
                                <option value="studio">Studio</option>
                                <option value="family">Family</option>
                            </select>
                        </div>
                        <!--div class="col-md-3">
                            <select class="form-select">
                                <option selected>Child</option>
                                <option value="1">Child 1</option>
                                <option value="2">Child 2</option>
                                <option value="3">Child 3</option>
                            </select>
                        </div-->
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<script>
    function setMinimumDate() {
        const today = new Date();
        const todayString = today.toISOString().slice(0, 10);
        document.getElementById("checkin").min = todayString;
        const tomorrow = new Date(today.getTime() + 86400000);
        const tomorrowString = tomorrow.toISOString().slice(0, 10);
        document.getElementById("checkout").min = tomorrowString;
    }
    setMinimumDate();

    function changeCheckoutDate(checkin) {
        var checkout = document.getElementById("checkout") 
        var checkinDateObj = new Date(checkin.value);
        var checkoutDateObj = new Date(checkout.value);
        var nextDay = new Date(checkinDateObj.getTime() + 86400000);
        const nextDayString = nextDay.toISOString().slice(0, 10);
        if(checkinDateObj > checkoutDateObj) {
            checkout.value = nextDayString;
            checkout.min = nextDayString;
        }else {
            checkout.min = nextDayString;
        }
    }
</script>