<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Rand</h1></a>
                    <p class="text-white mb-0">
                        We are so excited to host you! We're looking forward to the opportunity to host you in our city because hospitality is near to our hearts. We hope that you'll feel welcome in our home and you get to do what you love the most: rest, unplug, and enjoy time together.
                    </p>
                </div>
            </div> 
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p>
                    <a class="text-white" href="" class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Oysterbay, Dar es salaam, Tanzania</a>
                </p>
                <p>
                    <a  class="text-white"href="tel:+255769509929" class="mb-2"><i class="fa fa-phone-alt me-3"></i>+255 769 509 929</a>
                </p>
                <p>
                    <a  class="text-white" href="mailto:info@randapartments.com" class="mb-2"><i class="fa fa-envelope me-3"></i>info@randapartments.com</a>
                </p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/rand.apartments/?igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                    <span class="ps-2 pt-2"><a href="https://www.instagram.com/rand.apartments/?igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank" class="text-white">instagram</a></span>
                    <!-- <a class="btn btn-outline-light btn-social"><i class="fab fa-facebook-f"></i></a> -->
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                        <a class="btn btn-link" href="about">About Us</a>
                        <a class="btn btn-link" href="contact">Contact Us</a>
                        <a class="btn btn-link" href="apartment">Book Apartment</a>
                        <a class="btn btn-link" href="gallery">Gallery</a>
                        <a class="btn btn-link" href="faq">FAQ</a>
                        <!-- <a class="btn btn-link">Terms & Condition</a> -->
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                        <a class="btn btn-link" href="service?#service-1">Food & Restaurant</a>
                        <a class="btn btn-link" href="service?#service-2">Spa & Fitness</a>
                        <a class="btn btn-link" href="service?#service-3">Sports & Gaming</a>
                        <a class="btn btn-link" href="service?#service-4">Event & Party</a>
                        <a class="btn btn-link" href="service?#service-5">GYM & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->