<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <img src="rand/modules/portal/rand/img/Randlogo.png" alt=""width="mr-auto" 
                height="50">
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-10 px-5 text-start">
                    <a href="mailto:info@randapartments.com" class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">info@randapartments.com</p>
                    </a>
                    <a href="tel:+255769509929" class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+255 769 509 929</p>
                    </a>
                    <a href="tel:+255714290123" class="h-100 d-inline-flex align-items-center py-2">
                        <span class="me-2">or</span>
                        <p class="mb-0">+255 714 290 123</p>
                    </a>
                </div>
                <div class="col-lg-2 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href="https://www.instagram.com/rand.apartments/?igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Rand</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div id="links" class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="about" class="nav-item nav-link">About</a>
                        <a href="service" class="nav-item nav-link">Services</a>
                        <a href="apartment" class="nav-item nav-link">Apartments</a>
                        <!-- <a href="booking" class="nav-item nav-link">Booking</a> -->
                        <a href="gallery" class="nav-item nav-link">Gallery</a>
                        <a href="contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <?PHP if($helper->check_user_session()){?>
                    <form>
                        <button type="submit" name="logout" class="btn btn-primary rounded-3 py-1 px-md-2 me-2"><i class="bi bi-box-arrow-left me-1"></i>LogOut</button>
                    </form>
                    <?php }else{ ?>
                    <a href="/admin" class="btn btn-primary rounded-12 py-1 px-md-2 me-2"><i class="bi bi-box-arrow-in-right me-1"></i>LogIn</a>
                    <?php }?>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->

<script>
    const links = document.querySelectorAll('#links>a');
    for (const link of links) {
        serviceId = link.href + "?#service";
        if (window.location.href === link.href || window.location.href === link.href + 'index' || window.location.href.startsWith(serviceId)) {
          link.classList.add("active");
        }
    }
</script>