<div class="py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
            <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
        </div>
        <div class="row g-4">
            <div id="service-1" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Apartments</h5>
                    <p class="text-body mb-0">Effortless. Enjoyable. Truly comfortable living is both. That's why we go out of our way to choose locations and to design amenities that put so much within reach. So you can live easy without even trying.</p>
                </a>
            </div>
          
            <div id="service-2" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-dumbbell fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">GYM & Fitness</h5>
                    <p class="text-body mb-0">Your health account, your bank account, they’re the same thing. 
                        The more you put in, the more you can take out. Exercise is king and nutrition is queen. Together you have a kingdom.</p>
                </a>
            </div>

            <div id="service-3" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-swimmer fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Swimming</h5>
                    <p class="text-body mb-0">During summer, every day is a pool day, so go swim and float in the pool and make a splash, because it not only refreshes our body but also rejuvenates our state of mind. </p>
                </a>
            </div>
            <div id="service-4" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Bar & Snacks</h5>
                    <p class="text-body mb-0">Part of the secret of success is to drink what you like and let the drink fight it out inside itself for good.</p>
                </a>
            </div>
            <div id="service-5" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-money-bills fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Banking</h5>
                    <p class="text-body mb-0">You can find all your banking needs conveniently located in one place. Our banking offers a wide range of services, making it the perfect place for your daily shopping needs.</p>
                </a>
            </div>
        </div>
    </div>
</div>