
<!-- Main modal -->
<div id="add-apartment-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-hide="add-apartment-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
            <h3 class="mb-4 text-xl font-medium text-center uppercase">Add new apartment </h3>
            <form class="space-y-6" action="" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 my-2">
                  <label>Apartment name
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" name="apartment_name" type="text" placeholder="apartment name" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-1/2 px-3 my-2">
                  <label>Houses
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" name="apartment_houses" type="number" required>
                  </label>
                </div>
                <div class="w-1/2 px-3 my-2">
                  <label>Taken
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" name="apartment_taken" type="number" required>
                  </label>
                </div>
              </div>
              <div class="pb-8 text-right gap-x-4">
                <button  class="mx-2 text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!--/ Main modal -->

<div class="flex flex-wrap -mx-3">
  <div class="flex-none w-full max-w-full pl-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex items-center">
        <h5>Apartments</h5>
        <!-- Modal toggle -->
        <button data-modal-target="add-apartment-modal" data-modal-toggle="add-apartment-modal" 
        class="text-blue-400 hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center mx-6 px-1.5" type="button">
          <i class="fa-solid fa-plus text-xl"></i>
        </button>
      </div>
      <div class="px-1 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
            <thead class="align-bottom uppercase text-slate-800 text-sm text-left">
              <tr>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Building</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Houses</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Status</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Accumulation</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <div class="flex px-2">
                    <div>
                      <img src="../assets/img/home-decor-2.jpg" class="inline-flex items-center justify-center mr-2 text-white transition-all duration-200 rounded-2 ease-soft-in-out text-sm h-9 w-9" alt="spotify" />
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 leading-normal text-sm">TY1</h6>
                    </div>
                  </div>
                </td>
                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <p class="mb-0 pl-5 font-semibold leading-normal text-sm">2/9</p>
                </td>
                <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <div class="flex items-center">
                    <span class="mr-2 font-semibold leading-tight text-xs">60%</span>
                    <div>
                      <div class="text-xs h-0.75 w-30 m-0 flex overflow-visible rounded-lg bg-gray-200">
                        <div class="duration-600 ease-soft bg-gradient-to-tl from-blue-600 to-cyan-400 -mt-0.38 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded bg-fuchsia-500 text-center text-white transition-all" apartment="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <p class="mb-0 font-semibold leading-normal text-sm">$2,500</p>
                </td>
                <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                  <a href="javascript:;" class="font-semibold leading-tight text-sm text-blue-500"> Edit </a>
                  <a href="javascript:;" class="font-semibold leading-tight text-sm text-red-500 pl-2"> Close </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/plugins/flowbite.min.js"></script>