
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
    >
    Contracts
    </h2>
    <?=($msg ? "<p>{$msg}</p>" : '')?>
    <div style="display: flex;">
      <?php if($action == 'Edit' or $action == 'New'){?>
      <form method="post" class="text-gray-900 dark:text-white bg-white dark:bg-gray-900" style="box-shadow: 0 0 2px #999;flex-basis: 100%;">
        <div style="display: flex;">
          <label>Name</label>
          <input type="text" name="contract_name" class="font-semibold bg-gray-50 text-gray-900 dark:text-white dark:bg-gray-800 dark:placeholder-gray-400" value="<?=$name?>" style="margin-right: 1em;" required>
          <button style="padding: .6em;">
            <i class="fa fa-save">&nbsp;</i>Save
          </button>
        </div>
        <input type="hidden" name="old_name" value="<?=$name?>">
        <textarea id="page_content" name="content"class="w-full h-full bg-gray-50 text-gray-900 block p-2.5 dark:bg-gray-800 dark:placeholder-gray-400 dark:text-white" required><?=$content?></textarea>
      </form>
      <?php }else{?>
      <div class="text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-900" style="flex-basis: 100%;min-height: 70vh;">
        <div style="display: flex;flex-wrap: wrap;">
          <?php foreach($dirs as $fn){?>
          <div class="bg-white dark:bg-gray-800" style="padding: 1em;box-shadow: 0 0 2px;border-radius: 8px;width:31%;margin:0 2.3% 2.3% 0">
            <p><b><?=substr(str_replace('_',' ',$fn),0,-5)?></b></p>
            <hr style="margin: 1em 0;" />
            <p>
              <span>Last modified</span>
              <br><em><?=date('d M, Y @ H:i', filemtime("$cdir/$fn"));?></em>
            </p>
            <hr style="margin: 1em 0;" />
            <p style="display: flex;">
              <a href='<?="$myhome/Edit/".substr($fn,0,-5)?>' style="flex-grow:1">
                <i class="fa fa-edit">&nbsp;</i>Edit
              </a>
              <a href='<?="$myhome/Delete/".substr($fn,0,-5)?>' class="delConfirmation" style="flex-grow:1">
                <i class="fa fa-trash">&nbsp;</i>Delete
              </a>
            </p>
          </div>
          <?php }?>
        </div>
      </div>
      <?php }?>
      <div class="text-gray-900 dark:text-white bg-white dark:bg-gray-800" style="box-shadow: 0 0 2px #999;min-width:240px;margin-left: 1em;">
        <h3 style="padding: .6em;font-size: larger;display: flex;">
          <span style="flex-grow: 1;padding: .3em .6em;">Contracts</span>
          <a href='<?="$myhome/New/"?>' style="box-shadow: 0 0 3px #999;padding: .3em .6em;">
            <i class="fa fa-plus">&nbsp;</i>New
          </a>
        </h3>
        <hr>
        <ul>
          <?php foreach($dirs as $fn){?>
          <li style="padding: .6em; display: flex;">
            <span style="flex-grow: 1;"><?=substr(str_replace('_',' ',$fn),0,-5)?></span>
            <span>
              <a href="<?="$myhome/Edit/".substr($fn,0,-5)?>"><i class="fa fa-edit">&nbsp;</i></a>
              <a href="<?="$myhome/Delete/".substr($fn,0,-5)?>" class="delConfirmation"><i class="fa fa-trash">&nbsp;</i></a>
            </span>
          </li>
          <?php }?>
        </ul>
      </div>
    </div>
    <script src="vendor/ckeditor/ckeditor/ckeditor.js"></script>
    <script>
      const editor = document.getElementById('page_content');
      if(editor){
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.config.height = '400';
        CKEDITOR.config.width = '100%';
        CKEDITOR.config.baseHref = '/';
        //CKEDITOR.config.format_tags = 'div;p;h1;h2;h3;section;';
        CKEDITOR.config.filebrowserBrowseUrl = '/';
        CKEDITOR.config.filebrowserUploadUrl = '/ajax/uploader';
        CKEDITOR.config.contentCss = 'app/system/themes/fancy/css/editor.css';
        CKEDITOR.replace( 
            'page_content'
        );
      }

    var delConfirmation = document.getElementsByClassName('delConfirmation');
    var confirmIt = function (e) {
        if (!confirm("Sure you want to delete <?=substr(str_replace('_',' ',$fn),0,-5)?> contract?")) e.preventDefault();
    };
    for (var i = 0, l = delConfirmation.length; i < l; i++) {
        delConfirmation[i].addEventListener('click', confirmIt, false);
    }
  </script>
  <style>
    input,label{
      padding: .6em;
    }
    input{
      flex-grow: 1;
    }
  </style>