<div class="text-right">
  <!-- Modal toggle -->
  <button data-modal-target="add-faq-modal" data-modal-toggle="add-faq-modal" 
  class="text-white bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center mx-6 mb-3 px-5 py-1.5" type="button">
    Add Question
  </button>
</div>

<!-- Modal toggle -->
<div id="add-faq-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-faq-modal" id="close-expense-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Add Question </h3>
        <form class="space-y-6" method="POST">
          <div class="flex flex-col -mx-3 mb-6">
            <div class="w-full px-3 my-1 md:my-0">
              <label>Question <span class="text-red-500">*</span></label>
              <textarea class="w-full block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"  placeholder="Question description" name="question" required></textarea>
            </div>
          </div>
          <div class="flex flex-col -mx-3 mb-6">
            <div class="w-full px-3 my-1 md:my-0">
              <label>Answers <span class="text-red-500">*</span></label>
              <textarea class="w-full block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" rows="5" placeholder="Answer description" name="answer" required></textarea>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" name="add-faq" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->

<?php if($msg){ 
  if($status == 'success') {?>
  <div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } 
  else if($status == 'fail') {?>
<div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
  <span>
    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
  </span>
  <div class="ml-3 text-sm font-medium">
    <?=$msg?>
  </div> 
  <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
    <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
  </button>
</div>
<?php }
}?>

<div id="message"></div>
<div class="flex flex-wrap -ml-3">
  <div class="flex-none w-full max-w-full pl-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="px-1 pt-0 pb-2">
        <div class="py-0 px-3 overflow-x-scroll">

          <div class="mx-auto px-5 bg-white min-h-sceen">
            <div class="flex flex-col items-center">
              <h2 class="font-bold text-5xl mt-5 tracking-tight">
                FAQ
              </h2>
              <p class="text-neutral-500 text-xl mt-3 text-center">
                Frequenty asked questions
              </p>
            </div>
            <div class="grid divide-y divide-neutral-200 mx-auto mt-8">
              <?php foreach($faqs as $faq){ ?>
              <div id="faqDiv-<?=$faq['faq_id']?>" class="py-5">
                <details class="group">
                  <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span class="font-semibold"><?=$faq['faq_tittle']?></span>
                    <div class="flex frex-row">
                      <a class="text-blue-500 px-1" data-modal-target="edit-faq-modal-<?=$faq['faq_id']?>" data-modal-toggle="edit-faq-modal-<?=$faq['faq_id']?>">
                        <span class="lg:hidden"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span class="hidden lg:flex">Edit</span>
                      </a>
                      <button class="text-red-500 px-1" id="del-<?=$faq['faq_id']?>" onclick="delFaq(this)">
                        <span class="lg:hidden"><i class="fa-sharp fa-solid fa-trash"></i></span>
                        <span class="hidden lg:flex">Delete</span>
                      </button>
                      <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </div>
                  </summary>
                  <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    <?=$faq['faq_description']?>
                  </p>
                </details>
              </div>
              <!-- Modal toggle -->
<div id="edit-faq-modal-<?=$faq['faq_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="edit-faq-modal-<?=$faq['faq_id']?>" id="close-expense-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Edit Question </h3>
        <form class="space-y-6" method="POST">
          <input type="hidden" value="<?=$faq['faq_id']?>" name="faq_id">
          <div class="flex flex-col -mx-3 mb-6">
            <div class="w-full px-3 my-1 md:my-0">
              <label>Question <span class="text-red-500">*</span></label>
              <textarea class="w-full block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" placeholder="Question description" name="question" required><?=$faq['faq_tittle']?></textarea>
            </div>
          </div>
          <div class="flex flex-col -mx-3 mb-6">
            <div class="w-full px-3 my-1 md:my-0">
              <label>Answers <span class="text-red-500">*</span></label>
              <textarea class="w-full block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" rows="5" placeholder="Answer description" name="answer" required><?=$faq['faq_description']?></textarea>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" name="edit-faq" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Update</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->
              <?php } ?>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> 
<script>
  async function delFaq(values) {
    if (!confirm("Sure you want to delete Question?")) {
      return;
    }
    
    faqDelBtn = document.getElementById(values.id);
    faqDelBtn.disabled = true;
    faqDelBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var faqId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_del_faq', faqId[1]);
    
    console.log('<?=$request_uri?>')
    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;console.log(data);
        document.getElementById('faqDiv-'+faqId[1]).remove();
      }
      else {
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        faqDelBtn.disabled = false;
        faqDelBtn.innerHTML = `<span class="lg:hidden"><i class="fa-sharp fa-solid fa-trash"></i></span>
          <span class="hidden lg:flex">Delete</span>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      console.error('Problem:', error);
      faqDelBtn.disabled = false;
      faqDelBtn.innerHTML = `<span class="lg:hidden"><i class="fa-sharp fa-solid fa-trash"></i></span>
        <span class="hidden lg:flex">Delete</span>`;
    });
  }
</script>