

        <!-- row -->
        <div class="flex flex-wrap -mx-3">
          <?php if(helper::init()->user_can('can_view_users')){?>
          <!-- card -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-sm">System users</p>
                      <h5 class="mb-0 font-bold">
                        <?=$staffCount?>
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-800 to-blue-400">
                      <i class="fa-solid fa-clipboard-user text-2xl relative top-2 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ card -->
          <?php }?>
          <?php if(helper::init()->user_can('can_view_tenants')){?>
          <!-- card -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-sm">New booking </p>
                      <h5 class="mb-0 font-bold">
                        +<?=$bookedCount?>
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-800 to-blue-400">
                      <i class="ni leading-none ni-paper-diploma text-lg relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ card -->
          <?php }?>
          <?php if(helper::init()->user_can('can_view_expenses')){?>
          <!-- card -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-sm">Expenses</p>
                      <h5 class="mb-0 font-bold">
                        <span class="uppercase text-sm">TZS</span> <?=$expensesSum?>
                        <!-- <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span> -->
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-800 to-blue-400">
                      <i class="fa-solid fa-e text-xl relative top-2 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ card -->
          <?php }?>
          <?php if(helper::init()->user_can('can_view_expenses')){?>
          <!-- card -->
          <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans font-semibold leading-normal text-sm">Today's revenue</p>
                      <h5 class="mb-0 font-bold">
                        <span class="uppercase text-sm">TZS</span> <?=$revenueSum?>
                        <!-- <span class="leading-normal text-sm font-weight-bolder text-lime-500">+4%</span> -->
                      </h5>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-blue-800 to-blue-400">
                      <i class="ni leading-none ni-money-coins text-xl relative top-3.5 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ card -->
          <?php }?>
        </div>
        <!--/ row -->

        <!-- row -->
        <div class="flex flex-wrap mt-6 -mx-3">
          <?php if(helper::init()->user_can('can_view_tenants')){?>
          <!-- graph -->
          <div class="w-full max-w-full px-3 mt-0 mb-6 lg:mb-0 lg:w-5/12 lg:flex-none">
            <div class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
              <div class="flex-auto p-4">
                <div class="py-4 pr-1 mb-4 bg-gradient-to-tl from-blue-400 to-blue-800 rounded-xl">
                  <div>
                    <canvas id="chart-bars" height="276"></canvas>
                  </div>
                </div>
                <div class="w-full px-6 mx-auto max-w-screen-2xl rounded-xl">
                  <div class="flex flex-wrap mt-0 -mx-3">
                    <div class="flex-none w-1/2 max-w-full py-4 pl-0 pr-3 mt-0">
                      <div class="flex mb-2">
                        <div class="flex items-center justify-center w-8 h-8 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl from-red-600 to-rose-400 text-neutral-100">
                          <h4 class="font-bold text-neutral-100"><?=$bookedCount?></h4>
                        </div>
                        <p class="mt-1 mb-0 font-semibold leading-tight text-xs">Tenants</p>
                      </div>
                    </div>
                    <div class="flex-none w-1/2 max-w-full py-4 pl-0 pr-3 mt-0">
                      <div class="flex mb-2">
                        <div class="flex items-center justify-center w-8 h-8 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl from-blue-800 to-blue-400 text-neutral-100">
                          <h4 class="font-bold text-neutral-100"><?=$apartmentCount?></h4>
                        </div>
                        <p class="mt-1 mb-0 font-semibold leading-tight text-xs">Total partments</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ graph -->
          <?php }?>
          <?php if(helper::init()->user_can('can_view_expenses')){?>
          <!-- graph -->
          <div class="w-full max-w-full px-3 mt-0 lg:w-7/12 lg:flex-none">
            <div class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
                <h6>Running cost overview</h6>
                <p class="leading-normal text-sm">
                  <i class="fa fa-arrow-up text-lime-500"></i>
                  <span class="font-semibold">4% more</span> in 2023
                </p>
              </div>
              <div class="flex-auto p-4">
                <div>
                  <canvas id="sales-line" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!--/ graph -->
          <?php }?>
        </div>
        <!--/ Row -->

  <!-- plugin for charts  -->
  <script src="js/plugins/chartjs.min.js"></script>
  <script>
    // chart 1
    var ctx = document.getElementById("chart-bars").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: <?=$aparCategories?>,
        datasets: [
          {
            label: "Booked",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 0,
            borderSkipped: false,
            backgroundColor: "#ccc",
            data: <?=$occupiedApartments?>,
            maxBarThickness: 36,
          },{
            label: "Remains",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 0,
            borderSkipped: false,
            backgroundColor: "#fff",
            data: <?=$freeApartments?>,
            maxBarThickness: 36,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: "index",
        },
        scales: {
          y: {
            stacked: true,
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              stepSize: 1,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: "normal",
                lineHeight: 2,
              },
              color: "#fff",
            },
          },
          x: {
            stacked: true,
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              display: true,
              color: "#fff",
            },
          },
        },
      },
    });
    // end chart 1

    // chart 2
    var ctx2 = document.getElementById("sales-line").getContext("2d");
    var gradientStrokeCost = ctx2.createLinearGradient(0, 230, 0, 50);
    gradientStrokeCost.addColorStop(1, "rgba(255,0,0,0.2)");
    gradientStrokeCost.addColorStop(0.2, "rgba(255,0,0,0.0)");
    gradientStrokeCost.addColorStop(0, "rgba(255,0,0,0)"); //purple colors

    var gradientStrokeSales = ctx2.createLinearGradient(0, 230, 0, 50);
    gradientStrokeSales.addColorStop(1, "rgba(20,23,39,0.2)");
    gradientStrokeSales.addColorStop(0.2, "rgba(72,72,176,0.0)");
    gradientStrokeSales.addColorStop(0, "rgba(20,23,39,0)"); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: <?=$expensesDate?>,
        datasets: [
          //{
            //label: "Sales",
            //tension: 0.4,
            //borderWidth: 0,
            //pointRadius: 0,
            //borderColor: "#344e86",
            //borderWidth: 3,
            //backgroundColor: gradientStrokeSales,
            //fill: true,
            //data: <?=$expensesAmount?>,
            //maxBarThickness: 6,
          //},
          {
            label: "Cost",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#ea060680",
            borderWidth: 3,
            backgroundColor: gradientStrokeCost,
            fill: true,
            data: <?=$expensesAmount?>,
            maxBarThickness: 6,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: "index",
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
            },
            ticks: {
              display: true,
              padding: 10,
              color: "#b2b9bf",
              font: {
                size: 11,
                family: "Open Sans",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5],
            },
            ticks: {
              display: true,
              color: "#b2b9bf",
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
        },
      },
    });
    // end chart 2
  </script>
  