
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
Invoice items
</h2>
 
<div id="print" class="w-full overflow-hidden rounded-lg shadow-md bg-white dark:bg-gray-800 print:w-full print:h-full">
  <div class="flex flex-col sm:flex-row gap-8 text-lg font-semibold text-gray-500 dark:text-gray-400 p-8">
    <div class="w-full sm:w-1/3 text-center sm:text-left print:w-full print:h-full">
      Cmis Co (Tz) Ltd <br />
      [Customers is our first priority] <br />
      www.cmis.co.tz <br />
      P.O.Box 22429 <br />
      Dar es salaam, Tanzania <br />
      Tel: 07 xxxxx xxxxx <br>
      Email: sales@cmis.com <br />
      NHC House, Samora Street <br />
      TIN: 222-333-444 <br />
      VRN: 40-949949-Y <br />
    </div>
    <div class="hidden sm:block sm:w-1/3 pt-4">
      <center><img src="img/banny-logo.png" alt="" class="w-52"></center>
    </div>
    <div class="w-full sm:w-1/3 text-center sm:text-right print:w-full print:h-full">
      <p class="text-gray-700 dark:text-gray-300">BILL TO</p> 
      Themesberg Inc.,  <br />
      LOUISVILLE, Selby 3864 Johnson Street, <br />
      Dar es salaam, Tanzania  <br />
      VAT Code: AA-1234567890 <br />
    </div>
  </div>

  <div class="w-full overflow-x-auto text-sm p-8">
    <table class="w-full table-auto overflow-scroll">
      <caption class="text-gray-500 dark:text-gray-300 text-xl text-left sm:text-center font-bold py-8">Profoma invoice</caption>
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">Item</th>
          <th class="px-4 py-3">Unit</th>
          <th class="px-4 py-3">Discription</th>
          <th class="px-4 py-3">Quantity</th>
          <th class="px-4 py-3">Price (TZS)</th>
          <th class="px-4 py-3">Total (TZS)</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y font-semibold dark:divide-gray-700 dark:bg-gray-800"
      >
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
              Camera
          </td>
          <td class="px-4 py-3">
            Boxes
          </td>
          <td class="px-4 py-3">
            XXXXXXXXXXXXXX XXXX XXXXX XXXXXXXXXXXXXXX XXXXXXXXXX
          </td>
          <td class="px-4 py-3">
            40
          </td>
          <td class="px-4 py-3">
            4,000
          </td>
          <td class="px-4 py-3">
            160,000
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
              Camera
          </td>
          <td class="px-4 py-3">
            Boxes
          </td>
          <td class="px-4 py-3">
            XXXXXXXXXXXXXXXXXX XXXXXXXXXXXX XXXXXXXXXXX XXXXXXXXXX
          </td>
          <td class="px-4 py-3">
            40
          </td>
          <td class="px-4 py-3">
            4,000
          </td>
          <td class="px-4 py-3">
            160,000
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            Camera
          </td>
          <td class="px-4 py-3">
            Boxes
          </td>
          <td class="px-4 py-3">
            XXXXXXXXXXXX XXXXXX XXXXXXXXXXXXXX XXXXXXXXXX
          </td>
          <td class="px-4 py-3">
            40
          </td>
          <td class="px-4 py-3">
            4,000
          </td>
          <td class="px-4 py-3">
            160,000
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td colspan="4">
          </td>
          <td class="px-4 py-3 uppercase">
            Grand total
          </td>
          <td class="px-4 py-3">
            480,000
          </td>
        </tr>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td colspan="4">
          </td>
          <td class="px-4 py-3 uppercase">
            VAT
          </td>
          <td class="px-4 py-3">
            180,000
          </td>
        </tr>
        <tr class="text-gray-700 text-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td colspan="4">
          </td>
          <td class="px-4 py-3 uppercase">
            TOTAL
          </td>
          <td class="px-4 py-3">
            660,000
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
  <div class="flex flex-col sm:flex-row gap-8 text-lg font-semibold text-gray-500 dark:text-gray-400 p-8">
    <div class="w-full text-center sm:text-left gap-y-8">
      <p class="pb-3">The PI valid for 30 days including the issue date.</p> 
      <p class="pb-3">Full payment or 40% deposit to is necessary to confirm PI.</p> 
      <p class="pb-3">Delivery period: 5-7 working days after confirmation. </p>
      <p class="pb-3">CHEQUE/TRANSFER/CASH </p>
      <p class="pb-3"> AC Name: CMIS CO Ltd </p>
      <p class="pb-3">Bank Name: NCBA </p>
      <p class="pb-3"> AC Number: 119 828 888 098</p> 
      <p class="pb-3">Branch Name: Clock Tower Branch</p>
    </div>
  </div>
</div>
