<!-- Modal toggle -->
<div id="upload-dp-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-md max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="upload-dp-modal" id="close-user-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <style>
          .drag-image {margin: auto; border: 1px dashed rgb(117, 226, 245); height: 350px; width: 350px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
          .drag-image.active {border: 2px solid rgb(65, 102, 224);}
          .outer-drag-image img {height: 100%; width: 100%; object-fit: cover; border-radius: 5px;}
        </style>
        <form method="POST" id="update-dp" enctype="multipart/form-data" class="text-center pt-4">
          <div class="outer-drag-image">
              <div class="drag-image">
                  <div class="icon"><i class="fa fa-cloud fa-2xl"></i></div>
                  <br>
                  <h6> Drag & Drop File Here </h6> 
                  <span> OR </span> 
                  <label id="load-image" class="text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center"> Browse File </label> 
              </div>
              <input type="file" name="image" id="input-file-image" hidden required>
          </div>
          <div class="pt-2 pr-4 text-right">
            <!-- <button type="reset" class="text-white bg-gray-600 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Reset</button> -->
            <button type="submit" name="upload-image" class="text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Upload</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->

<div class="ease-soft-in-out relative h-full max-h-screen transition-all duration-200">
  <nav class="absolute z-20 flex flex-wrap items-center justify-between w-full px-6 py-2 text-white transition-all shadow-none duration-250 ease-soft-in lg:flex-nowrap lg:justify-start" navbar-profile navbar-scroll="true">
    <div class="flex items-center justify-between w-full md:px-6 py-1 mx-auto flex-wrap-inherit">
      <nav>
        <!-- breadcrumb -->
        <ol class="flex flex-wrap pt-1 pl-2 pr-4 mr-12 bg-transparent rounded-lg sm:mr-16">
          <li class="leading-normal text-sm">
            <a class="opacity-90" href="javascript:;">Pages</a>
          </li>
          <li class="text-sm pl-2 capitalize leading-normal before:float-left before:pr-2 before:content-['/']" aria-current="page">Profile</li>
        </ol>
        <h6 class="mb-2 ml-2 font-bold text-white capitalize">Profile</h6>
      </nav>

      <div class="flex items-center mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
        <div class="flex items-center md:ml-auto md:pr-4">
          <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
            <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="w-40 sm:w-full pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Type here..." />
          </div>
        </div>
        <ul class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
          <li class="flex items-center px-2 xl:hidden">
            <a href="javascript:;" class="block transition-all ease-nav-brand text-sm text-white" sidenav-trigger>
              <div class="w-4.5 overflow-hidden">
                <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-white text-white transition-all"></i>
                <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-white text-white transition-all"></i>
                <i class="ease-soft relative block h-0.5 rounded-sm bg-white text-white transition-all"></i>
              </div>
            </a>
          </li>
          <li class="flex items-center px-2">
            <a href="<?=$home?>?logout" class="transition-all text-sm ease-nav-brand text-white">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </li>
          <!-- notifications -->
          <li class="relative flex items-center px-2">
            <p class="hidden transform-dropdown-show"></p>
            <a href="javascript:;" class="block transition-all text-sm ease-nav-brand text-white" dropdown-trigger aria-expanded="false">
              <i class="cursor-pointer fa fa-bell"></i>
            </a>
            <ul dropdown-menu class="text-sm transform-dropdown before:font-awesome before:leading-default before:duration-350 before:ease-soft lg:shadow-soft-3xl duration-250 min-w-44 before:sm:right-7.5 before:text-5.5 pointer-events-none absolute right-0 top-0 z-50 origin-top list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:right-2 before:left-auto before:top-0 before:z-50 before:inline-block before:font-normal before:text-white before:antialiased before:transition-all before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-0 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer">
              <li class="relative mb-2">
                <a class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg px-4 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700" href="javascript:;">
                  <div class="py-1">
                    <div class="flex flex-col justify-center">
                      <h6 class="mb-1 font-normal leading-normal text-sm"><span class="font-semibold">New bookong</span> by Travis Scott</h6>
                      <p class="mb-0 leading-tight text-xs text-slate-400">
                        <i class="mr-1 fa fa-clock"></i>
                        1 day
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="relative">
                <a class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg px-4 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700" href="javascript:;">
                  <div class="py-1">
                    <div class="flex flex-col justify-center">
                      <h6 class="mb-1 font-normal leading-normal text-sm">Payment successfully completed</h6>
                      <p class="mb-0 leading-tight text-xs text-slate-400">
                        <i class="mr-1 fa fa-clock"></i>
                        2 days
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="w-full">
    <div class="relative flex items-center p-0 mt-6 overflow-hidden bg-center bg-cover min-h-75 rounded-2xl" style="background-image: url('img/curved-images/curved0.jpg'); background-position-y: 50%">
      <span class="absolute inset-y-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-purple-700 to-pink-500 opacity-60"></span>
    </div>
    <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 -mt-16 overflow-hidden break-words border-0 shadow-blur rounded-2xl bg-white/80 bg-clip-border backdrop-blur-2xl backdrop-saturate-200">
      <div class="flex flex-wrap -mx-3">
        <div class="flex-none w-auto max-w-full px-3">
          <div class="text-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
            <img src="<?=helper::get_user_avatar($user['user_id'])?>" alt="profile_image" class="w-16 h-16 shadow-soft-sm rounded-xl" />
            <span data-modal-target="upload-dp-modal" data-modal-toggle="upload-dp-modal" class="absolute w-6 h-6 text-center rounded-1 cursor-pointer bottom-0 right-0 bg-gray-400"><i class="leading-normal fas fa-pen text-sm text-black"></i></span>
          </div>
        </div>
        <div class="flex-none w-auto max-w-full px-3 my-auto">
          <div class="h-full">
            <h5 class="mb-1"><?=$user['first_name'] . " " . $user['middle_name'] . " " . $user['last_name']?></h5>
            <!-- <p class="mb-0 font-semibold leading-normal text-sm">CEO / Co-Rand</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

<?php if($msg){ 
  if($status == 'success') {?>
  <div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mt-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } 
  else if($status == 'fail') {?>
<div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mt-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
  <span>
    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
  </span>
  <div class="ml-3 text-sm font-medium">
    <?=$msg?>
  </div> 
  <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
    <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
  </button>
</div>
<?php }
}?>

  <div class="w-full py-6">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 xl:w-4/12">
        <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
            <h6 class="mb-0">Platform Settings</h6>
          </div>
          <div class="flex-auto p-4">
            <h6 class="font-bold leading-tight uppercase text-xs text-slate-500">Account</h6>
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
              <li class="relative block px-0 py-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="follow" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" checked />
                  <label for="follow" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault">Email me when someone booked</label>
                </div>
              </li>
              <li class="relative block px-0 py-2 bg-white border-0 text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="answer" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" />
                  <label for="answer" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault1">Email me when new employee registered</label>
                </div>
              </li>
              <li class="relative block px-0 py-2 bg-white border-0 rounded-b-lg text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="mention" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" checked />
                  <label for="mention" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault2">Email me when tenant checked out</label>
                </div>
              </li>
            </ul>
            <h6 class="mt-6 font-bold leading-tight uppercase text-xs text-slate-500">Application</h6>
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
              <li class="relative block px-0 py-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="launches projects" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" />
                  <label for="launches projects" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault3">New launches and apartments</label>
                </div>
              </li>
              <li class="relative block px-0 py-2 bg-white border-0 text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="product updates" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" checked />
                  <label for="product updates" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault4">Monthly service updates</label>
                </div>
              </li>
              <li class="relative block px-0 py-2 pb-0 bg-white border-0 rounded-b-lg text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="subscribe" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" />
                  <label for="subscribe" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="flexSwitchCheckDefault5">Subscribe to newsletter</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12">
        <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
            <div class="flex flex-wrap -mx-3">
              <div class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                <h6 class="mb-0">Profile Information</h6>
              </div>
              <div id="toggle-user-edit" class="w-full max-w-full px-3 text-right shrink-0 md:w-4/12 md:flex-none">
                <button type="button" onclick="editUserInfo()">
                  <i class="leading-normal fas fa-user-edit text-sm text-slate-400"></i>
                  <span class="pl-1">Edit</span>
                </button>
              </div>
            </div>
          </div>
          <div id="user-info" class="flex-auto p-4">
            <!-- <p id="user-bio" class="leading-normal text-sm">Hi, I’m Jusper Wendo. Decisions: If you can’t decide, the answer is no. If two equally difficult paths, choose the one more painful in the short term (pain avoidance is creating an illusion of equality).</p> -->
            <!-- <hr class="h-px my-6 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent" /> -->
            <hr class="h-px my-2 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent" />
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
              <li class="relative block px-4 py-2 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-sm text-inherit"><strong class="text-slate-700">Full Name:</strong> &nbsp; 
                <span id="user-name"><?=$user['first_name'] . " " . $user['middle_name'] . " " . $user['last_name']?></span>
              </li>
              <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Mobile:</strong> 
              <span id="user-phone"><?=$user['phone_number']?></span></li>
              <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Email:</strong> &nbsp; 
                <span id="user-email"><?=$user['email']?></span>
              </li>
              <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Location:</strong> &nbsp; 
                <span id="user-address"><?=$user['staff_residence_address']?$user['staff_residence_address']:$user['resident_adress'] ?></span>
              </li>
              <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-sm text-inherit"><strong class="text-slate-700">Registered:</strong> &nbsp; 
                <span id="user-address"><?=helper::format_time($user['created_time'],'d M, Y')?></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12">
        <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
            <h6 class="mb-0">My activities</h6>
          </div>
          <div class="flex-auto p-4">
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
              <li class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="flex flex-col items-start justify-center">
                  <h6 class="mb-0 leading-normal text-sm">Login on Windows</h6>
                  <p class="mb-0 leading-tight text-xs">Today</p>
                </div>
              </li>
              <li class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="flex flex-col items-start justify-center">
                  <h6 class="mb-0 leading-normal text-sm">Logout on Windows</h6>
                  <p class="mb-0 leading-tight text-xs">13 May 2023</p>
                </div>
              </li>
              <li class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="flex flex-col items-start justify-center">
                  <h6 class="mb-0 leading-normal text-sm">Profile picture changed</h6>
                  <p class="mb-0 leading-tight text-xs">13 May 2023</p>
                </div>
              </li>
              <li class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                <div class="flex flex-col items-start justify-center">
                  <h6 class="mb-0 leading-normal text-sm">Login on Windows</h6>
                  <p class="mb-0 leading-tight text-xs">12 May 2023</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
    
<script src="js/plugins/flowbite.min.js"></script>
<script>
  const dropArea = document.querySelector(".outer-drag-image"),
  dragText = dropArea.querySelector("h6"),
  button = dropArea.querySelector("#load-image"),
  input = dropArea.querySelector("#input-file-image");
  let file;
  //link button with input file 
  button.onclick = ()=>{
      input.click();
  }
  input.addEventListener("change", function(){
      file = this.files[0];
      dropArea.classList.add("active");
      viewfile();
  });
  dropArea.addEventListener("dragover", (event)=>{
      event.preventDefault();
      dropArea.classList.add("active");
      dragText.textContent = "Release to Upload File";
  });
  dropArea.addEventListener("dragleave", ()=>{
      dropArea.classList.remove("active");
      dragText.textContent = "Drag & Drop to Upload File";
  });
  dropArea.addEventListener("drop", (event)=>{
      event.preventDefault();
      file = event.dataTransfer.files[0];
      viewfile();
  });
  function viewfile(){
      let fileType = file.type;
      let validExtensions = ["image/jpeg", "image/jpg", "image/png"];
      if(validExtensions.includes(fileType)){
          let fileReader = new FileReader();
          fileReader.onload = ()=>{
              let fileURL = fileReader.result;
              let imgTag = `<img src="${fileURL}" alt="image">`;
              document.querySelector(".drag-image").innerHTML = imgTag;
          }
      fileReader.readAsDataURL(file);
      }
      else{
          alert("This is not an Image File!");
          dropArea.classList.remove("active");
          dragText.textContent = "Drag & Drop to Upload File";
      }
  }
  indexNav = document.getElementById("index-nav");
  indexNav.remove();
  toggleUserEdit = document.getElementById("toggle-user-edit");
  userInfo = document.getElementById("user-info");
  var prevUserInfo = userInfo.innerHTML;
  const userName = document.getElementById("user-name");
  const userPhone = document.getElementById("user-phone");
  const userEmail = document.getElementById("user-email");
  const userAddress = document.getElementById("user-address");


  function editUserInfo() {
    userInfo.innerHTML = `<div class="flex-auto">
      <form role="form" method="POST">
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Full name</label>
        <div class="mb-4">
          <input type="text" name="name" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Full name" value="`+userName.innerHTML+`"/>
        </div>
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Phone</label>
        <div class="mb-4">
          <input type="text" name="phone" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Phone number" value="`+userPhone.innerHTML+`"/>
        </div>
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Email</label>
        <div class="mb-4">
          <input type="text" name="email" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Email address" value="`+userEmail.innerHTML+`"/>
        </div>
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Location address</label>
        <div class="mb-4">
          <textarea type="text" name="address" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Residence address">`+userAddress.innerHTML+`</textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="inline-block w-32 px-3 py-2 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in tracking-tight-soft bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85">Save</button>
        </div>
      </form>
    </div>`;
    toggleUserEdit.innerHTML = `<button type="button" onclick="cancelEditUserInfo()">
      <i class="leading-normal fas fa-user-edit text-sm text-slate-400"></i>
      <span class="pl-1">Cancel</span>
    </button>`;
  }
  function cancelEditUserInfo() {
    userInfo.innerHTML = prevUserInfo;
    toggleUserEdit.innerHTML = `<button type="button" onclick="editUserInfo()">
      <i class="leading-normal fas fa-user-edit text-sm text-slate-400"></i>
      <span class="pl-1">Edit</span>
    </button>`;
  }
</script>