<?php if($msg){ 
  if($status == 'success') {?>
  <div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } 
  else if($status == 'fail') {?>
<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
  <span>
    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
  </span>
  <div class="ml-3 text-sm font-medium">
    <?=$msg?>
  </div> 
  <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
    <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
  </button>
</div>
<?php }
}?>

  <div class="flex flex-wrap">
    <div class="flex-none w-full max-w-full pl-3">
      <div class="relative flex flex-col min-w-0 mb-6 break-words border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="flex flex-wrap-reverse mt-6 -mx-3">
          <!-- table -->
          <div class="w-full bg-white max-w-full px-3 mt-0 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none rounded-2xl">
            <div class="border-black/12.5 relative z-20 flex min-w-0 flex-col break-words border-0 border-solid bg-blue bg-clip-border">
              <div class="flex-auto p-4">
                <div class="py-4 pr-1 mb-4">
                  <h6>My Requests</h6>
                  <div class="px-1 pt-0 pb-2">
                    <div class="p-0 overflow-x-auto">
                      <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                        <thead class="align-bottom uppercase text-slate-800 text-sm text-left">
                          <tr>
                            <!-- <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">House details</th> -->
                            <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Description</th>
                            <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Submitted date</th>
                            <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Status</th>
                            <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <?php 
                            if (is_array($requests) || is_object($requests))
                            foreach ($requests as $req)
                          {?>
                          <tr>
                              <!-- <td class="px-4 py-3 text-sm">
                                  <?=$req['house_details']?>
                              </td> -->
                              <td class="px-4 py-3 text-sm">
                                <?=$req['descriptions']?>
                              </td>
                              <td class="px-4 py-3 text-sm">
                                <?=helper::format_time($req['submitted_date'],'d M, Y')?>
                              </td>
                              <td class="px-4 py-3 text-sm">
                                <?=$req['status']?>
                              </td>
                              <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                                <a href="javascript:;" class="font-semibold leading-tight text-sm text-blue-500"> Edit </a>
                                <a href="javascript:;" class="font-semibold leading-tight text-sm text-red-500 pl-2"> Delete </a>
                              </td>
                            </tr>
                            <?php }?>
                         </tbody>
                      </table>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ table -->
          <?php if(helper::init()->user_can('can_add_requests')){?>
          <!-- new request -->
          <div class="w-full max-w-full px-3 mt-0 mb-4 lg:w-5/12 lg:flex-none">
            <div class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-blue p-6 pb-0">

                <p class="leading-normal text-sm"> </p>
              </div>
              <div class="flex-auto p-4">
                <div>
                  <h6>My New Request</h6>
                  <form action="">
                    <textarea class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-blue-300 focus:outline-none focus:transition-shadow" rows="5" name="descriptions" placeholder="Type your Message"></textarea>
                    <div class="py-4 text-center">
                      <button type="submit" class="float-centre text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-1.5 text-center">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/ new request -->
          <?php } ?>
        </div>
       
      </div>
    </div>
  </div>
    
  <script src="js/plugins/flowbite.min.js"></script>