<!-- Modal toggle -->
<div id="add-user-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
    <div class="relative w-full max-w-4xl max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-user-modal" id="close-user-modal-id">
          <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
          <h3 class="mb-4 text-xl font-medium">New requests </h3>
          <form class="space-y-6" method="POST" enctype="multipart/form-data">
            <div class="divide-y">
              <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                    <label>House details <span class="text-red-500">*</span>
                      <input  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="House details" name="house_details" required>
                    </label>
                  </div>
                  <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                    <label>Descriptions <span class="text-red-500">*</span>
                      <input type="text" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Descriptions" name="descriptions" required>
                    </label>
                  </div>
                  <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                    <label>Submitted date <span class="text-red-500">*</span>
                      <input type="date" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date" min="<?= date('Y-m-d'); ?>" name="submitted_date" required>
                    </label>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/3 px-3"> 
                    <label>Status <span class="text-red-500">*</span>
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" name="status" required>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="pb-8">
              <button type="submit" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Save</button>
            </div>
          </form>
        </div>
      </div>
      <!--/ Modal content -->
    </div>
</div>
  <!--/ Modal toggle -->
  
  <div class="flex flex-wrap -mx-3">
    <div class="flex-none w-full max-w-full pl-3">
      <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex">
          <h5>Requests list</h5>
          <!-- Modal toggle -->
          <button data-modal-target="add-user-modal" data-modal-toggle="add-user-modal" 
          class="text-blue-400 hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center mx-6 px-2" type="button">
            <i class="fa-solid fa-plus text-xl"></i>
          </button>
        </div>
        <div class="px-1 pt-0 pb-2">
          <div class="p-0 overflow-x-auto">
            <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
              <thead class="align-bottom uppercase text-slate-800 text-sm text-left">
                <tr>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">House details</th>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Description</th>
                  <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Submitted date</th>
                  <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Status</th>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Action</th>
                </tr>
              </thead>
              <tbody>
                <?php 
                if (is_array($requests) || is_object($requests))
                foreach ($requests as $req)
             {?>
                <tr>
                    <td class="px-4 py-3 text-sm">
                        <?=$req['house_details']?>
                      </td>
                    <td class="px-4 py-3 text-sm">
                      <?=$req['descriptions']?>
                    </td>
                    <td class="px-4 py-3 text-sm">
                      <?=helper::format_time($req['submitted_date'],'d M, Y')?>
                    </td>
                    <td class="px-4 py-3 text-sm">
                      <?=$req['status']?>
                    </td>
                    <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                      <a href="javascript:;" class="font-semibold leading-tight text-sm text-blue-500"> Edit </a>
                      <a href="javascript:;" class="font-semibold leading-tight text-sm text-red-500 pl-2"> Close </a>
                    </td>
                
                      </tr>
                        <?php }?>
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <script src="js/plugins/flowbite.min.js"></script>