<!-- Modal toggle -->
<div id="add-user-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-user-modal" id="close-user-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Add tenants </h3>
        <form class="space-y-6" method="POST" enctype="multipart/form-data">
          <div class="divide-y">
            <div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Full name <span class="text-red-500">*</span>
                    <input  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="User's full name" name="full_name"  pattern="([a-zA-Z]+\s){1,2}([a-zA-Z]+)" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Email address <span class="text-red-500">*</span>
                    <input type="email" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Email address" name="tenants_email" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label class="flex flex-col"><div>Phone number <span class="text-red-500">*</span></div>
                    <input id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" type="tel" name="phone_number" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Country <span class="text-red-500">*</span>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="country" required>
                      <option value="">Choose...</option>
                      <?php include('countries.html') ?>
                    </select>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Resident adress <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Resident adress" name="resident_adress" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Passport number <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="passport number" name="passport_number" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Apartment <span class="text-red-500">*</span></label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="apartment_reference" required>
                      <option selected="true" disabled="disabled">Choose...</option>   
                      <?php foreach($apartment as $pp) { ?>
                        <option value="<?=$pp['apartment_id']?>"><?=$pp['apartment_name']?></option>
                      <?php } ?>
                    </select>
                </div>
                <div class="w-full md:w-1/3 px-3"> 
                  <label>Date in <span class="text-red-500">*</span></label>
                    <input id="checkin" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date" name="date_in" onchange="changeCheckoutDate(this)" required>
                </div>
                <div class="w-full md:w-1/3 px-3"> 
                  <label>Date out <span class="text-red-500">*</span></label>
                    <input id="checkout" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date" name="date_out" required>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Adults <span class="text-red-500">*</span></label>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="number" placeholder="Number of adults" name="adults" required>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Children <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="number" placeholder="children" name="children" required>
                  </label>
                </div>
                <!-- <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <div class="pt-4">Total amount</div>
                  <div class="font-bold"><?=$currency?> 800000</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" name="add-tenant" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->
<?php if($msg){ 
  if($status == 'success') {?>
  <div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
  <?php } 
    else if($status == 'fail') {?>
  <div x-data="{ open: true }" x-show="open" class="msg flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-exclamation fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
  <?php }
}?>

<div id="message"></div>

<div class="flex flex-wrap -mx-3">
  <div class="flex-none w-full max-w-full pl-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex">
        <h5>Tenant list</h5>
        <!-- Modal toggle -->
        <button data-modal-target="add-user-modal" data-modal-toggle="add-user-modal" 
        class="text-blue-400 hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center mx-6 px-2" type="button">
          <i class="fa-solid fa-plus text-xl"></i>
        </button>
      </div>
      <div class="px-1 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
            <thead class="align-bottom uppercase text-slate-800 text-sm text-left">
              <tr>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Name</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Adress</th> 
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Passport #</th> 
                <th class="px-3 py-3 font-bold text-center bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Date in</th>
                <th class="px-3 py-3 font-bold text-center bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Date out</th>
                <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Apartment</th>
                <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Adults</th>
                <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Children</th>
                <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Action</th>
              </tr>
            </thead>
            <tbody>
              <?php
                if (is_array($tenants) || is_object($tenants))
                foreach ($tenants as $tena)
              {?>
              <tr id="tr-<?=$tena['user_id']?>" class="border-b border-gray-200 border-b-solid hover:bg-gray-200">
                <td class="p-2 bg-transparent whitespace-nowrap shadow-transparent">
                  <div class="flex px-2 py-1">
                      <div class="relative h-10 w-10 mr-4">
                        <img class="rounded-full border border-gray-100 shadow-sm h-10 w-10" src="../assets/img/no-profile.jpg" alt="user image" /> 
                        <div class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
                      </div>
                      <div class="text-sm">
                        <span style="white-space: nowrap;"><?=$tena['first_name']?> <?=$tena['middle_name']?> <?=$tena['last_name']?></span><br>
                        <a href="mailto:<?=$tena['email']?>" class="hover:text-blue-500 hover:underline"><?=$tena['email']?></a><br>
                        <a href="tel:+<?=$tena['phone_number']?>" class="hover:text-blue-500 hover:underline">+<?=$tena['phone_number']?></a><br>
                      </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tena['country']?><br>
                  <?=$tena['resident_adress']?>
                </td> 
                <td class="px-4 py-3 text-sm">
                  <?=$tena['passport_number']?>
                </td> 
                <td class="px-4 py-3 text-sm">
                  <?=helper::format_time($tena['check_in'],'d M, Y')?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=helper::format_time($tena['check_out'],'d M, Y')?>
                </td>
                <td class="px-4 py-3 text-sm text-center">
                  <?=$tena['apartment_name']?>
                </td>
                <td class="px-4 py-3 text-sm text-center">
                  <?=$tena['adults']?>
                </td>
                <td class="px-4 py-3 text-sm text-center">
                  <?=$tena['children']?>
                </td>
                <td class="p-2 bg-transparent whitespace-nowrap shadow-transparent">
                  <a href="javascript:;" data-modal-target="edit-asset-modal-<?=$tena['tenants_id']?>" data-modal-toggle="edit-asset-modal-<?=$tena['tenants_id']?>" class="font-semibold leading-tight text-sm text-blue-500"> Edit </a>
                  <button id="<?=$tena['user_id']?>" class="font-semibold leading-tight text-sm text-red-500 pl-2" onclick="deleteTenant(this)">Delete</button>
                </td>
              </tr>
              <!-- Modal toggle -->
<div id="edit-asset-modal-<?=$tena['tenants_id']?>"  tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="edit-asset-modal-<?=$tena['tenants_id']?>"  id="close-user-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Edit tenants </h3>
        <form class="space-y-6" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="tenants_id" value="<?=$tena['tenants_id']?>">
          <input type="hidden" name="user_id" value="<?=$tena['user_id']?>">
          <input type="hidden" name="check_id" value="<?=$tena['check_id']?>">
          <div class="divide-y">
            <div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Full name <span class="text-red-500">*</span>
                    <input  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="User's full name" name="full_name" value="<?=$tena['first_name'] . ' ' . $tena['middle_name'] . ' ' . $tena['last_name']?>"
                    required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Email address <span class="text-red-500">*</span>
                    <input type="email" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Email address" name="tenants_email" value="<?=$tena['email']?>" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label class="flex flex-col"><div>Phone number <span class="text-red-500">*</span></div>
                    <input id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" type="tel" name="phone_number" value="<?=$tena['phone_number']?>" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Country <span class="text-red-500">*</span>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="country" required>
                      <option value="<?=$tena['country']?>"><?=$tena['country']?></option>
                      <?php include('countries.html') ?>
                    </select>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Resident adress <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Resident adress" name="resident_adress" value="<?=$tena['resident_adress']?>" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Passport number 
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" value="<?=$tena['passport_number']?>" placeholder="passport number" name="passport_number">
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Apartment <span class="text-red-500">*</span></label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="apartment_reference" required>
                      <option value="<?=$tena['apartment_id']?>"><?=$tena['apartment_name']?></option>   
                      <?php foreach($apartment as $pp) { ?>
                        <option value="<?=$pp['apartment_id']?>"><?=$pp['apartment_name']?></option>
                      <?php } ?>
                    </select>
                </div>
                <div class="w-full md:w-1/3 px-3"> 
                  <label>Date in <span class="text-red-500">*</span></label>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date"  min="<?= date('Y-m-d'); ?>" name="date_in" value="<?=helper::format_time($tena['check_in'], 'Y-m-d')?>" required>
                </div>
                <div class="w-full md:w-1/3 px-3"> 
                  <label>Date out <span class="text-red-500">*</span></label>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date" min="<?= date('Y-m-d'); ?>" name="date_out" value="<?=helper::format_time($tena['check_out'], 'Y-m-d')?>" required>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Adults <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="number" placeholder="adults" name="adults" value="<?=$tena['adults']?>" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Children <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="number" placeholder="children" name="children" value="<?=$tena['children']?>" required>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" name="edit-tenant" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function setMinimumDate() {
        const today = new Date();
        const todayString = today.toISOString().slice(0, 10);
        document.getElementById("checkin").min = todayString;
        const tomorrow = new Date(today.getTime() + 86400000);
        const tomorrowString = tomorrow.toISOString().slice(0, 10);
        document.getElementById("checkout").min = tomorrowString;
    }
    setMinimumDate();

    function changeCheckoutDate(checkin) {
      var checkout = document.getElementById("checkout") 
      var checkinDateObj = new Date(checkin.value);
      var checkoutDateObj = new Date(checkout.value);
      var nextDay = new Date(checkinDateObj.getTime() + 86400000);
      const nextDayString = nextDay.toISOString().slice(0, 10);
      if(checkinDateObj > checkoutDateObj) {
          checkout.value = nextDayString;
          checkout.min = nextDayString;
      }else {
          checkout.min = nextDayString;
      }
  }

  function deleteTenant(tenant) {
    if (!confirm("Sure you want to delete tenant? \nThis action can not be undone!")) {
      return;
    }
    tenantDelBtn = document.getElementById(tenant.id);
    tenantDelBtn.disabled = true;
    tenantDelBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    const formData = new FormData();
    formData.append('tenantId', tenant.id)
    fetch('<?=$request_uri?>', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        document.getElementById('tr-'+tenant.id).remove();
      }
      else {
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        tenantDelBtn.disabled = false;
        tenantDelBtn.innerHTML = `Delete`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      tenantDelBtn.disabled = false;
      tenantDelBtn.innerHTML = `Delete`;
    });
  }

</script>
