<div class="flex flex-wrap -mx-3">
    <div class="flex-none w-full max-w-full pl-3">
      <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
          <h6>User list</h6>
        </div>
        <div class="px-1 pt-0 pb-2">
          <div class="p-0 overflow-x-auto">
            <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
              <thead class="align-bottom uppercase text-slate-800 text-sm text-left">
                <tr>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Name</th>
                  <th class="px-3 py-3 pl-2 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Function</th>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Status</th>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Date In</th>
                  <th class="px-3 py-3 font-bold bg-transparent border-b border-gray-200 shadow-none border-b-solid tracking-none whitespace-nowrap opacity-70">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-2.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user1" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">John Michael</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">john@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Manager</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Organization</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-green-200 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-In</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">23/04/18</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400 hover:text-blue-500"> Edit </a>
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400 hover:text-red-500 pl-2"> Del </a>
                  </td>
                </tr>
                <tr>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-3.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user2" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">Alexa Liras</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">alexa@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Programator</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Developer</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-slate-300 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-Out</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">11/01/19</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400"> Edit </a>
                  </td>
                </tr>
                <tr>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-4.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user3" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">Laurent Perrier</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">laurent@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Executive</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Projects</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-green-200 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-In</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">19/09/17</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400"> Edit </a>
                  </td>
                </tr>
                <tr>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-3.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user4" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">Michael Levi</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">michael@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Programator</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Developer</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-green-200 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-In</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">24/12/08</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400"> Edit </a>
                  </td>
                </tr>
                <tr>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-2.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user5" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">Richard Gran</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">richard@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Manager</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Executive</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-slate-300 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-Out</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">04/10/21</span>
                  </td>
                  <td class="p-2 bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400"> Edit </a>
                  </td>
                </tr>
                <tr>
                  <td class="p-2 bg-transparent border-b-0 whitespace-nowrap shadow-transparent">
                    <div class="flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-4.jpg" class="inline-flex items-center justify-center mr-4 text-slate-800 transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl" alt="user6" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-0 leading-normal text-sm">Miriam Eric</h6>
                        <p class="mb-0 leading-tight text-sm text-slate-400">miriam@creative-tim.com</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 bg-transparent border-b-0 whitespace-nowrap shadow-transparent">
                    <p class="mb-0 font-semibold leading-tight text-sm">Programtor</p>
                    <p class="mb-0 leading-tight text-sm text-slate-400">Developer</p>
                  </td>
                  <td class="p-2 leading-normal bg-transparent border-b-0 text-sm whitespace-nowrap shadow-transparent">
                    <span class="bg-slate-300 p-1 text-sm rounded-1.8 py-2.2 inline-block whitespace-nowrap align-baseline font-bold leading-none text-slate-800">Checked-Out</span>
                  </td>
                  <td class="p-2 bg-transparent border-b-0 whitespace-nowrap shadow-transparent">
                    <span class="font-semibold leading-tight text-sm text-slate-400">14/09/20</span>
                  </td>
                  <td class="p-2 bg-transparent border-b-0 whitespace-nowrap shadow-transparent">
                    <a href="javascript:;" class="font-semibold leading-tight text-sm text-slate-400"> Edit </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>