<!-- Modal toggle -->
<div id="add-user-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-user-modal" id="close-user-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Add user </h3>
        <form class="space-y-6" method="POST" enctype="multipart/form-data">
          <div class="divide-y">
            <div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Full name <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="User's full name" name="full_name"  pattern="([a-zA-Z]+\s){1,2}([a-zA-Z]+)" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label>Email address <span class="text-red-500">*</span>
                    <input type="email" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" placeholder="Email address" name="email" required>
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0">
                  <label class="flex flex-col"><div>Phone number <span class="text-red-500">*</span></div>
                    <input id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" type="tel" name="phone_number" placeholder="phone number" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Designation <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Designation" name="Designation" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 my-1 md:my-0"> 
                  <label>Residence address 
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="text" placeholder="Residence address" name="residence_address">
                  </label>
                </div>
                <div class="w-full md:w-1/3 px-3"> 
                  <label>Date employed <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" type="date" max="<?= date('Y-m-d'); ?>" name="date_employed" required>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" class="float-right text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Modal toggle -->

<div id="message"></div>

<div class="flex flex-wrap -mx-3">
  <div class="flex-none w-full max-w-full pl-3">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex">
        <h5>User list</h5>
        <!-- Modal toggle -->
        <button data-modal-target="add-user-modal" data-modal-toggle="add-user-modal" 
        class="text-blue-400 hover:text-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center mx-6 px-2" type="button">
          <i class="fa-solid fa-plus text-xl"></i>
        </button>
      </div>
      <section class="text-gray-600 body-font">
        <div class="flex flex-wrap">
          <?php foreach($staff as $x) { ?>
          <!-- Card -->
          <div class="w-full lg:w-1/2">
            <div class="flex flex-col sm:flex-row m-2 bg-gray-100 rounded-2">
              <div class="sm:w-1/3 text-center sm:pr-2 sm:py-2">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-300 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Name name</h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mb-2"></div>
                  <p class="text-base">Designation.</p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-2 sm:py-2 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-2 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-1">
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input id="checkbox-<?=$x['user_id']?>" type="checkbox" onclick="activateStaff(this)" class="sr-only peer" <?php if($x['status']=='active') {echo "checked";} ?> >
                    <div class="w-9 h-5 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
                  </label> 
                </p>
                <p class="leading-relaxed text-lg mb-1">Role: XXX</p>
                <p class="leading-relaxed text-lg mb-1">Email : XXX</p>
                <p class="leading-relaxed text-lg mb-1">Phone: XXX</p>
                <p class="leading-relaxed text-lg mb-1">Address: XXX</p>
                <p class="leading-relaxed text-lg mb-1">Date Reg: XXX</p>
              </div>
            </div>
          </div>
          <?php } ?>
        </div>
      </section>
        <!-- <div>
          <div class="relative h-10 w-10 mr-4">
            <img class="rounded-full border border-gray-100 shadow-sm h-10 w-10" src="../assets/img/no-profile.jpg" alt="user image" />
            <div class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
          </div>
        </div>      -->
    </div>
  </div>
</div>
  
<script src="js/plugins/flowbite.min.js"></script>

<script>
  problem = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-exclamation fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      An error occured! Please refresh the page or try again later.
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>`

  async function delStaff(values) {
    if (!confirm("Sure you want to delete staff?")) {
      return;
    }
    
    delStaffBtn = document.getElementById(values.id);
    delStaffBtn.disabled = true;
    delStaffBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var staffId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_del_staff', staffId[1]);
    //for (let obj of staffData) {
      //console.log(obj);
    //}
    //var name = staffData.get('ajax_del_staff');
    //console.log(name);

    let url = '';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;console.log(data);
        document.getElementById('tr-'+staffId[1]).remove();
      }
      if(data.status == 'fail'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        delStaffBtn.disabled = false;
        delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      if(data.status == 'not-exist' || data.status == 'denied'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = problem;
      //console.error('Problem:', error);
      delStaffBtn.disabled = false;
      delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }


  async function activateStaff(values) {
    if (values.checked) {
      var status = 'active';
    };
    if (!values.checked) {
      var status = 'inactive';
    };

    var userId = values.id.split('-');
    const userData = new FormData();
    userData.append('ajax_activate_user', userId[1]);
    userData.append('status', status);
    
    let url = '';
    let obj = {
      method: "POST", 
      body: userData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      console.log(data);
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = problem;
      //console.error('Problem:', error);
    });
  }
</script>